# Bỏ qua thư mục node_modules
node_modules/

# Bỏ qua thư mục allure report
allure-results/
allure-report/
screenshots/
videos/
result/

.DS_Store

# Bỏ qua file log
*.log

# Bỏ qua file môi trường
.env

# Bỏ qua các file cấu hình IDE hoặc editor
.vscode/
.idea/
# Bỏ qua các file tạm thời
*.tmp

# Bỏ qua các file cấu hình của hệ thống
*package-lock.json